a {
    color: inherit;
    text-decoration: none;
    opacity: 1;
    transition: color 0.25s ease;
}

h3 a:hover {
    color: #38bdf8;
    text-shadow: 0 0 5px #38bdf8;
}

h1 a:hover {
    opacity: 0.8;
}

.button {
    color: #0f172a;
    font-size: 1.15rem;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    width: auto;

    background-color: #38bdf8;
    
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    border: none;

    box-shadow: 0 0 10px #38bdf8;
    cursor: pointer;

    transition: 0.3s;
}

.button:hover {
    transform: scale(97%);
    box-shadow: 0 0 25px #38bdf8;
}

#outside {
    display: flex;
    justify-content: center;
}

#inside {
    margin-top: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: fit-content;
    height: fit-content;
    padding: 2rem;
}

.title {
    margin-top: 0;
    margin-bottom: 15%;
    color: cornflowerblue;

    font-size: 3.5rem;
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    bottom: 0;
    inset-inline: 0;

    height: 1px;

    background: linear-gradient(to right, #0f172a, cornflowerblue, #0f172a);

    z-index: 0;
}

.calculator {
    background-color: cornflowerblue;
    padding: 1rem;
}

#result-div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#result {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 1.25rem;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color ease 0.3s;
}

button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2));
}

.clear {
    background-color: #fc9ec1;
}

.operator {
    background-color: #ffc8dd;
}

.number {
    background-color: #bde0fe;
}

.decimal {
    background-color: #a5d4fd;
}

.equals {
    grid-row: span 3;
    background-color: #c9a7de;
}