:root {
    --white: rgb(226, 233, 237);
}

body {
    margin: 0;
    padding-top: 70px;
}

.navbar {
    height: 70px;
    background-color: rgb(40, 41, 41);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: clamp(1rem, 5vw, 4rem);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
    font-size: 1rem;
    color: var(--white);
}

.navbar #left, .navbar #right {
    flex-shrink: 0;
}

.navbar #middle {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

@media (max-width: 650px) {
    .navbar #middle {
        display: none;
    }
}

.navbar #home {
    color: #38bdf8;
    letter-spacing: 3%;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    opacity: 1;
    transition: color 0.25s ease;
}

.navbar h3 a:hover {
    color: #38bdf8;
    text-shadow: 0 0 5px #38bdf8;
}

.navbar h1 a:hover {
    opacity: 0.8;
}

.navbar .button {
    color: #0f172a;
    font-size: 1.15rem;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    width: auto;

    background-color: #38bdf8;
    
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    border: none;

    box-shadow: 0 0 10px #38bdf8;
    cursor: pointer;

    transition: 0.3s;
}

.navbar .button:hover {
    transform: scale(97%);
    box-shadow: 0 0 25px #38bdf8;
}

#outside {
    min-height: calc(100dvh - 70px);

    background-color: rgb(26, 26, 27);
    color: var(--white);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    z-index: -1;
}